<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title|default('Default') }} - ManyMore Test{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
    </head>
    <body>
        <header id="HeaderMenu" class="is-transparent">
            <div class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-img has-background-white is-rounded" href="{{ path('app_homepage') }}">
                        ManyMore
                    </a>
                </div>
                <nav class="navbar-menu">
                    {% include "_partials/_nav.html.twig" %}
                </nav>
            </div>
        </header>

        {% if app.session.flashbag.peekAll()|length > 0 %}
            <div id="Notifications" class="is-fullwidth">
                {% for message in app.flashes('success') %}
                    <div class="notification is-success" role="alert">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('warning') %}
                    <div class="notification is-warning" role="alert">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="notification is-error" role="alert">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <main>
            <section id="MainSection">
                <header class="block" style="position: relative">
                    {% block page_title %}<h1>{{ title|default('Default') }}</h1>{% endblock %}
                </header>
                <article>
                    {% block body %}{% endblock %}
                </article>
                <footer></footer>
            </section>
        </main>

        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
